fmsi
tests/fmsi-test

src/version.h
tests/bin/

cmake-build-debug/


*.sdsl

# BW files
*.fmsi.*

# Compiled binaries
ms-index
tests/ms-index-test

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion
.idea/
